<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Sirocco | Subscription service</title>
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">

        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body class="antialiased bg-gray-100 leading-normal text-gray-600">
        <div id="app">
            <main role="main">
                <section class="h-screen min-h-screen flex flex-col justify-center items-center">
                    <div class="container mx-auto px-6">
                        <div class="overflow-hidden rounded-lg shadow max-w-md mx-auto">
                            <div class="bg-white px-4 py-5 sm:px-6">
                                <form action="/submit" class="w-full max-w-sm" method="POST">
                                    <div class="md:flex md:items-center mb-6">
                                        <div class="text-center">
                                            <h3 class="font-bold text-gray-800 text-xl">Sign up for our newsletter</h3>

                                            <p class="mt-2 text-sm">
                                                Want to hear from us when we add new components? Sign up for our newsletter and we'll email you every time we release a new batch of components.
                                            </p>

                                            <label class="mt-6 block" for="email">
                                                <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded-lg w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-indigo-500 transition ease-in-out duration-150 text-center" required autocomplete="email" id="email" type="email" name="email" placeholder="Enter your email address">

                                                {% if message %}
                                                    <div class="mt-1 text-center">
                                                        <span class="text-xs text-red-500 font-medium">{{ message }}</span>
                                                    </div>
                                                {% endif %}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="md:flex md:items-center">
                                        <button class="shadow bg-indigo-500 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-medium leading-10 py-0 px-4 rounded-lg text-center block w-full transition ease-in-out duration-150" type="submit">
                                            Subscribe
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </body>
</html>
